{% extends 'base.html' %}

{% block content %}
<div class="box">
  <!-- Leaving the action empty makes the form post to the same url used to display it -->
  <form action="" method="post">
    <!-- Django requires the following for security purposes -->
    {% csrf_token %}
    <p>
      <!-- Render the inputs inside of <tr>s & <td>s -->
      {{ form.as_p }}
      </p>
    <input type="submit" value="Submit!" class="btn">
    <input type="hidden" name="user" value="{{ user }}">
  </form>
</div>

{% endblock %}