{% extends 'base.html' %}
{% block content %}
<div class="box">
<h1>Home</h1>

<div </div>id="container">
	<video autoplay="true" id="videoElement" onclick="this.paused ? this.play() : this.pause();"></video>
</div>

<script>
var video = document.querySelector("#videoElement");

if (navigator.mediaDevices.getUserMedia) {
  navigator.mediaDevices.getUserMedia({ video: true })
    .then(function (stream) {
      video.srcObject = stream;
    })
    .catch(function (err0r) {
      console.log("Something went wrong!");
    })
};

</script>
</div>
{% endblock %}