{% extends 'base.html' %}
{% block content %}

<h1>Meet our Photographers</h1>
<hr />
        <div style="display:flex;text-align: center;flex-wrap: wrap;justify-content: center;">
        {% for user in users.all %}
        <div style='width:150px;'>
                <a href="{% url 'portfolio' user.id %}"> <div style="display:inline-block; margin:20px">
                    <div class="card">
                        <h5> {{ user }}</h5>
                        <lottie-player 
                        src="../static/images/profile.json"
                        background="transparent"
                        speed="1"
                        style="text-align: center"
                        loop
                        autoplay>
                        </lottie-player>
                    </div>
                </div>
            </a>
        </div>

        {% endfor %}
</div>

{% endblock %}