{% extends 'base.html' %}
{% block content %}
<div class="box">
<h1>Meet Our Photographers</h1>
<hr />
<div id="photographers-wrapper">
        {% for user in users.all %}

                    <div class="profile-wrapper shadow-sm border-0 rounded">
                        <a href="{% url 'portfolio' user.id %}">
                        <div class="p-1">
                            <div class="card-body p-2">
                            <lottie-player
                            src="../static/images/profile.json"
                            background="transparent"
                            speed="1"
                            style="text-align: center"
                            loop
                            autoplay>
                            </lottie-player></div>
                        </a>
                        <div class="p-4">
                            <h5 class="mb-0">{{ user }}</h5>
                            <p class="small text-muted">Photographer</p>
                            <ul class="social mb-0 list-inline mt-3">
                              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                          </div>
                    </div> 
                </div>


        {% endfor %} 
    </div>
</div>
{% endblock %}