{% extends 'base.html' %}
{% block content %}

<h1>Meet our Photographers</h1>
<hr />
        {% for user in users.all %}
        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <a href="{% url 'portfolio' user.id %}">
                        <div class="p-5"><lottie-player 
                            src="../static/images/profile.json"
                            background="transparent"
                            speed="1"
                            style="text-align: center"
                            loop
                            autoplay>
                            </lottie-player></div>
                        </a>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">{{ user }}</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% endfor %}
</div>

{% endblock %}