{% extends 'base.html' %}
{% block content %}
<div class="box">
<h3>Welcome to {{ profile_user }}'s Portfolio.</h3>
<hr />

{% if user.is_authenticated and user.id == profile_id  %}
    <form action="{% url 'add_photo' user.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
      {% csrf_token %}
      <input type="file" name="photo-file">
      <br><br>
      <input type="submit" class="btn" value="Upload Photo">
    </form>
    {% endif %}


<div class="row">
{% for photo in photos.all %}
      <div class="col-md-4">
        <div class="thumbnail">
            <img src="{{photo.url}}" alt="Lights" class="initial-class" style="width:100%; margin:15px; border-radius:10px" onclick="enlargeImg(this)">
        </div>
      </div>

    {% empty %}
      <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    {% endfor %}
    </div>

    <script>
      // Function to enlarge image size
      function enlargeImg(img) {
        if (img.classList.contains('initial-class')) {
          img.classList.remove("initial-class");
          img.classList.add("enlarge-class");
          clickCheck = false;
        }
        else {
          img.classList.add("initial-class");
          img.classList.remove("enlarge-class");
          clickCheck = true;
        }
      }
  </script>
  </div>  
{% endblock %}