{% extends 'base.html' %}
{% block content %}

{% if user.id == profile_id  %}
<h1>Welcome to your portfolio</h1>
{% else %}
<h1>Welcome to {{ profile_user|capfirst }}'s portfolio</h1>
{%endif%}
<hr />


{% if user.is_authenticated and user.id == profile_id  %}
    <form action="{% url 'add_photo' user.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
      {% csrf_token %}
        <div class="fileUpload btn btn-primary">
          <span>Upload Photos</span>
          <input type="file" name="photo-file" class="upload" onchange="this.form.submit()" />
      </div> 
    </form>
    {% endif %}
 
<div class="row">
{% for photo in photos %}
      <div class="col-md-4">
        <div class="thumbnail">
            <img src="{{ photo.url }}" alt="Lights" class="initial-class" style="width:100%; margin:15px; border-radius:10px" onclick="enlargeImg(this)">
        </div>
      </div>

    {% empty %}
      <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    {% endfor %}
    </div>

<div class='paginator-wrapper'>
    {% if photos.has_other_pages %}
    <ul class="pagination">
      {% if photos.has_previous %}
        <li><a href="?page={{ photos.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
      {% for i in photos.paginator.page_range %}
        {% if photos.number == i %}
          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
          <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if photos.has_next %}
        <li><a href="?page={{ photos.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
  {% endif %}

  </div>




    <script>
      // Function to enlarge image size
      function enlargeImg(img) {
        if (img.classList.contains('initial-class')) {
          img.classList.remove("initial-class");
          img.classList.add("enlarge-class");
          clickCheck = false;
        }
        else {
          img.classList.add("initial-class");
          img.classList.remove("enlarge-class");
          clickCheck = true;
        }
      }
  </script>
  





{% endblock %}