{% extends 'base.html' %}
{% block content %}

<h1>Transactions</h1>
<hr/>
<div class="col grid-margin stretch-card">
    <div class="card" id="transaction-card">
        <div class="card-body">
            <h4 class="card-title">Transactions</h4>
            <p class="card-description"> Basic table with card</p>
            <div class="table-responsive">
                <table class="table" id="transaction-table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Payment</th>
                            <th>Amount</th>
                            <th>Booking Info</th>
                            <th>Update</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in transaction %}
                            <tr>
                                <td>{{transaction.date}}</td>
                                <td>{{transaction.get_payment_method_display}}</td>
                                <td>{{transaction.amount}}</td>
                                <td>{{transaction.booking}}</td>
                                <td><a href="{% url 'transaction_update' transaction.id %}"><i class='far fa-edit' style='font-size:24px'></i>
                                </a></td>
                                <td><a href="{% url 'transaction_delete' transaction.id %}"><i class='far fa-trash-alt' style='font-size:24px'></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div>Total Amount Earned: ${{transaction_total}}</div>
            </div>
        </div>
    </div>
</div>
<hr>
<a href="{% url 'bookings' %}"><i class='far fa-caret-square-left' style='font-size:24px'></i>Back to Bookings</a>




{% endblock %}