{% extends 'base.html' %}
{% block content %}
<div class="box">
<h1>Bookings</h1>
<hr/>
    {% for booking in bookings  %}
        {% if booking.date > today %}
            <p>Upcoming <a href="{% url 'booking' booking.id %}" >{{ booking.date }} </a></p>
        {% else %}
            <p>Previous <a href="{% url 'booking' booking.id %}" class="btn-light" >{{ booking.date }} </a></p>
        {% endif %}
    {% endfor %}
    <a href="{% url 'booking_create' %}">New Booking</a>
</div>
{% endblock %}