body{
    background-color:rgb(199, 199, 199);
}

main {
    font-family: "Gill Sans Extrabold", sans-serif;
    font-size: 18px;
    color:#1a0e24;
}

.box {
    margin: 20px;
    padding: 10px;
}


#margintop {
    margin-top: 20vmin;
    margin-bottom: 20vmin;
    height: 70vmin;
    width: 70vw;
    border: 5px solid #1a0e24;
    border-radius: 5px;
    background-color: rgba(173, 110, 62, 0.335);
}

.initial-class{
    position : initial;
}

.enlarge-class{
    position: fixed;
    left : 50%;
    top : 50%;
    transform : translate(-50%, -50%);
}

.navbar-collapse.in {
    display: block !important;
}

.navbar-light .navbar-nav .nav-link {
  white-space: nowrap;
    font-size:20px;
    color:#ffe7bc;
}


.navbar-brand{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2.5em !important;
    color:rgb(255, 181, 95)!important;
    text-shadow: 2px 2px 2px #1a0e24;
}

.navbar{
    -webkit-box-shadow: 0px 7px 23px 5px #1a0e24; 
    box-shadow: 0px 7px 23px 5px #1a0e24;
    font-family: 'Delius Unicase', cursive;
    border-radius: 0 0 10px 10px;
}

.navbar-brand:hover{
    text-shadow: 0px 6px 12px #1a0e24;
    transition: text-shadow 0.3s ease-in-out;

}


.navbar .navbar-nav .nav-link:hover {
    background-color: #b1723d;
    color: #1a0e24;
    border-radius: 5px;
}  


.navbar .navbar-nav .nav-link {
    padding: 0.6em;
    font-size: 1.2em;
    transition: all 0.5s;
}

.navbar .navbar-brand {
    padding: 0 0.6em;
    font-size: 1.5em;
    font-weight: bold;
}

.navbar-brand:not(:hover){
    transition: text-shadow 0.3s ease-in-out;
}


.p-1 {
    height: 10vh;
    width: 10vw;
}

.card-body p-2 {
    margin: 20vw;

}


.lottie-wrapper{
    position: relative;
}
#photographers-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.profile-wrapper{
    width: 250px !important;
    margin: 23px !important;
    background-color: whitesmoke;
    
}

@media only screen and (min-width: 992px) {
  .navbar {
    padding: 0;
  }
  .navbar .navbar-nav .nav-link {
    padding: 1em 0.7em;
  }
  .navbar .navbar-brand {
    padding: 0 0.8em;
  }
}

.info-div{
  padding : 0 20px 20px 30px;
}
 
.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
  }
  
.social-link:hover,
.social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
  }
  
  .progress {
    height: 10px;
  }
  
.info-span{
  color:black;
  float:right;
}


.save-btn-wrapper{
    display:flex;
    float: right;
}

.save-btn{
    margin-top: 10px;
    float: right;
}









