#videoElement { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 50%;
    min-height: 50%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    /* opacity: 0%; */
    filter: grayscale(100%) opacity(60%);
    /* transform: rotate(360deg); */
    /* animation-name: filtered; */
}

#container > #videoElement {
    border: 5px solid black;
    /* width: 50%;
    height: 50%; */
}

#container > #videoElement:hover {
    filter: saturate(100%) opacity(100%);
    /* width: 10%;
    height: 10%;  */
    transition: 3s;
    transform: scale(0.5);
    /* -webkit-transform-origin: 50% 50%; */
}

#container > #videoElement:after {
    /* filter: saturate(100%) opacity(100%); */
    /* width: 10%;
    height: 10%;  */
    /* -webkit-transform-origin: 50% 50%; */

}
.initial-class{
    position : initial;
}

.enlarge-class{
    position: fixed;
    left : 50%;
    top : 50%;
    transform : translate(-50%, -50%);
}

