body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(238, 238, 238)
}

.margintop {
    margin-top: 500vmin;
}

#videoElement { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 50%;
    min-height: 50%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    /* opacity: 0%; */
    filter: grayscale(100%) opacity(60%);
    /* transform: rotate(360deg); */
    /* animation-name: filtered; */
}

#container > #videoElement {
    border: 5px solid black;
    /* width: 50%;
    height: 50%; */
}

#container > #videoElement:hover {
    filter: saturate(100%) opacity(100%);
    /* width: 10%;
    height: 10%;  */
    transition: 3s;
    transform: scale(0.5);
    /* -webkit-transform-origin: 50% 50%; */
}

#container > #videoElement:after {
    /* filter: saturate(100%) opacity(100%); */
    /* width: 10%;
    height: 10%;  */
    /* -webkit-transform-origin: 50% 50%; */

}
.initial-class{
    position : initial;
}

.enlarge-class{
    position: fixed;
    left : 50%;
    top : 50%;
    transform : translate(-50%, -50%);
}

.navbar-collapse.in {
    display: block !important;
}

.navbar-light .navbar-nav .nav-link {
    font-size:20px;
    color:rgb(255, 241, 176);
}


.navbar-brand{
    font-weight: bold;
    font-size: 2.5em !important;
    color:rgb(255, 181, 95)!important;
    text-shadow: 2px 2px 2px #573209;
}

.navbar{
    -webkit-box-shadow: 0px 7px 23px 5px #000000; 
    box-shadow: 0px 7px 23px 5px #000000;
}

.navbar-brand:hover{
    text-shadow: 0px 6px 12px #000000;
    transition: text-shadow 0.3s ease-in-out;
}


.navbar .navbar-nav .nav-link:hover {
    background-color: rgb(255, 241, 176);
    color: #000000;
  }  
.navbar .navbar-nav .nav-link {
  padding: 0.6em;
  font-size: 1.2em;
  transition: all 0.5s;
}
.navbar .navbar-brand {
  padding: 0 0.6em;
  font-size: 1.5em;
  font-weight: bold;
}

.navbar-brand:not(:hover){
    transition: text-shadow 0.3s ease-in-out;
}

.lottie-wrapper{
    position: relative;
}

@media only screen and (min-width: 992px) {
  .navbar {
    padding: 0;
  }
  .navbar .navbar-nav .nav-link {
    padding: 1em 0.7em;
  }
  .navbar .navbar-brand {
    padding: 0 0.8em;
  }
}